* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
}

img {
  max-width: 80%;
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.9s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.StarLogo {
  position: absolute;
  top: 0px;
  height: 8rem;
  z-index: 5;
}
